.leia-mais {
    padding: .4rem;
    margin: .8rem;
    display: block;
    font-size: 120%;
    text-align: center;
    background-color: #E6E7E8;
}

.post-blog ~ .post-blog {
    padding-top: 1.5rem;
    margin-top: 1rem;

    /* Adicionando uma linha suave abaixo dos posts */
    background-image: linear-gradient(to right, transparent, #CCC, transparent);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top center;
}
